<h1>Welcome to the Scrabble Generator</h1>
<form action='/score'>
  <div class="form-group">
    <label for="word">Enter word</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">Calculate</button>
</form>
